
  body {
    background-color:#c6b2b3;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
  }
  
  header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:#A69090;
    padding: 20px;
  }
  
  img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    
  }
  
  main {
    display: flex;
    justify-content: space-between;
    background-color: #e8e1e8;
  }
  
  .main-left {
    margin-right: 80px;
  }
  
  .main-left li {
    margin-bottom: 20px;
  }
  
  h2, footer {
    text-align: center;
  }
  
  .about p {
    margin: 0;
  }
  
  .experience a {
    text-decoration: none;
    color: #6a3f31;
  }
  
  .experience a:hover {
    color: #A69090;
  }
  
  footer {
    padding: 80px;
    background-color: #e8e1e8;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  